
<div class="container">
  <table class="table table-hover">
    <thead>
      <tr>

        <th scope="col">N°</th>
        <th scope="col">Nome</th>
        <th scope="col">Preço</th>
        <th></th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let products of products; let i = index">

        <th scope="row">{{products.id}}</th>
        <td>{{products.name}}</td>
        <td>{{products.preco}}</td>
        <td>
          <button type="button" [routerLink]="['/profile/edit', products.id]" class="btn btn-primary align-right btn-sm">Editar</button>
          <button type="button"  class="btn btn-danger align-right btn-sm ml-2" (click)="remove(products.id)">Excluir</button>
        </td>

      </tr>
    </tbody>
  </table>

</div>
<button class="btn btn-success" routerLink="/profile/new">Novo produto</button><br><br>
<button class="btn btn-primary" (click)="logout()">Logout</button>
